CanadaPost/static/wsdl/AddressComplete.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                 xmlns:tns="http://schemas.postcodeanywhere.com/"
                 xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                 xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
                 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                 targetNamespace="http://schemas.postcodeanywhere.com/"
                 name="AddressComplete">

  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.postcodeanywhere.com/">
      <xsd:element name="Find">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Key" type="xsd:string"/>
            <xsd:element name="SearchTerm" type="xsd:string"/>
            <xsd:element name="LanguagePreference" type="xsd:string"/>
            <xsd:element name="Country" type="xsd:string"/>
            <xsd:element name="MaxSuggestions" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FindResponse" type="xsd:anyType"/>

      <xsd:element name="Retrieve">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Key" type="xsd:string"/>
            <xsd:element name="Id" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RetrieveResponse" type="xsd:anyType"/>
    </xsd:schema>
  </wsdl:types>

  <wsdl:message name="FindRequest">
    <wsdl:part name="parameters" element="tns:Find"/>
  </wsdl:message>

  <wsdl:message name="FindResponse">
    <wsdl:part name="parameters" element="tns:FindResponse"/>
  </wsdl:message>

  <wsdl:message name="RetrieveRequest">
    <wsdl:part name="parameters" element="tns:Retrieve"/>
  </wsdl:message>

  <wsdl:message name="RetrieveResponse">
    <wsdl:part name="parameters" element="tns:RetrieveResponse"/>
  </wsdl:message>

  <wsdl:portType name="AddressCompleteSoap">
    <wsdl:operation name="Find">
      <wsdl:input message="tns:FindRequest"/>
      <wsdl:output message="tns:FindResponse"/>
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <wsdl:input message="tns:RetrieveRequest"/>
      <wsdl:output message="tns:RetrieveResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="AddressCompleteSoapBinding" type="tns:AddressCompleteSoap">
    <soap12:binding transport="http://www.w3.org/2003/05/soap/bindings/HTTP/" style="document"/>
    <wsdl:operation name="Find">
      <soap12:operation soapAction="http://schemas.postcodeanywhere.com/Find"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Retrieve">
      <soap12:operation soapAction="http://schemas.postcodeanywhere.com/Retrieve"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="AddressComplete">
    <wsdl:port name="AddressCompleteSoap" binding="tns:AddressCompleteSoapBinding">
      <soap12:address location="https://can-post-proxy.onrender.com/addresscomplete/interactive/find/v2.10/soap12"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>
